/* Estilos generales */
.register-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info-container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  margin: 20px;
}

.form-container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: auto;
}

.footer {
  background-color: #007bff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.footer h6 {
  color: #ffffff; /* Color del texto */
  margin: 0; /* Elimina el margen por defecto del h6 */
}

.navbar {
  background-color: #007bff; /* Color de fondo del navbar */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 320px; /* Ancho del logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio a la derecha del logo */
  margin-left: 30px;
}

.logo1 {
  width: 50px; /* Ancho del logo */
  height: auto; /* Altura automática para mantener la proporción */
  margin-right: 10px; /* Espacio a la derecha del logo */
  margin-left: 30px;
}

.login-button {
  background-color: transparent; /* Fondo transparente */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-size: 1rem; /* Tamaño del texto */
  text-decoration: none; /* Sin subrayado */
  margin-right: 50px; 
}

.login-button:hover {
  text-decoration: underline; /* Subrayado al pasar por encima */
}

.hamburger-menu {
  display: none; /* Oculto por defecto */
  flex-direction: column;
  align-items: flex-start;
}

.hamburger-button {
  display: none; /* Oculto por defecto */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    align-items: center;
  }

  .info-container,
  .form-container {
    width: 90%;
    margin: 10px 0;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .login-button {
    margin: 10px 0;
  }

  .footer {
    position: static;
    padding: 20px;
  }

  .hamburger-button {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100%;
  }

  .info-container,
  .form-container {
    padding: 10px;
  }

  .navbar {
    padding: 10px;
  }

  .footer h6 {
    font-size: 14px;
  }
}
